@import 'share';

.motto {
	@extend %center-flex;

	margin-top: 200rpx;
	align-items: center;
}

.face {
	$r: 24rpx;

	width: $r;
	height: $r;
	border-radius: 50%;
	margin-right: 10rpx;
}

.powered {
	margin-top: 30rpx;
	font-size: 50rpx;
	color: gray;
}
.index_gird {
	padding: 20rpx 40rpx;
	display: flex;
	justify-content: space-around;
	.grid {
		border: 1rpx solid #ccc;
		border-radius: 100%;
		width: 140rpx;
		height: 140rpx;
		line-height: 140rpx;
		display: inline-block;
		text-align: center;
	}
	.invite {
		text {
			margin-top: 38rpx;
			display: inline-block;
			line-height: 32rpx;
		}
	}
}
.recharge {
	padding: 20rpx 20rpx;
	display: flex;
	justify-content: space-around;
	> view {
		padding: 20rpx 10rpx;
		background-color: rgb(72, 195, 252);
		> view {
			float: left;
		}
	}
	.description {
		.title {
			font-size: 24rpx;
			color: #fff;
		}
		.discount {
			font-size: 42rpx;
			font-weight: 700;
			color: rgb(240, 191, 33);
			padding: 20rpx 0;
		}
		.dec_short {
			font-size: 28rpx;
			color: #fff;
		}
	}
}
.location {
	color: #f00;
	font-size: 24rpx;
	text-align: center;
}
.active {
	width: 100%;
	height: 200rpx;
	background-color: #ccc;
}
